/* Report landing page */

.landingpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    padding: 0 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    border: 1px solid #391d19;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
        padding: 1.5em 0.5em;
        margin: 0;
    }
}

.kmom-box a {
    width: 100%;
    background-color: #391d19;
    text-align: center;

    h2 {
        margin-top: 0.6em;
        color: #c0c0c0;
    }
}

.kmom-box .project {
    grid-column: span 3;
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 3;
    }

    .project {
        margin-bottom: 1em;
    }
}
