@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables-dark';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');

@import 'old';
@import 'report';
@import 'kmom';
@import 'gallery';

.footer {
    background: $title-color;
    color: $backgraund-color;
}

.main,
.header {
    background: $backgraund-color;
}

.logo img {
    border-radius: 50%;
    filter: grayscale(80%);
}

.title * {
    margin: 0;
    color: $title-color;
}

a {
    color: #edf3f0;
}


* {
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nanum Gothic', sans-serif;
    color: $title-color;
}

.flash-img,
.rapport-img,
.img {
    filter: grayscale(80%);
}

body {
    color: $body-text-color;
}

.footer a,
.footer p {
    color: $body-text-color;
}

.sidebar a {
    color: $title-color;
}

.nav .active a,
.nav a:hover {
    color: $body-text-color;
}

.kmom-box a {
    background-color: $title-color;
}
