@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');

@import 'old';
@import 'report';
@import 'kmom';
@import 'gallery';

.footer {
    background: $dark-color;
    color: $base-color;
    
    a {
        color: #a0ada9;
    }
}

.main,
.header {
    background: $base-color;
}

.logo img {
    border-radius: 50%;
    border: 2px solid rgb(100, 100, 100);
    background: no-repeat;
    box-shadow: 10px 10px 5px rgb(66, 63, 63);
}

.title * {
    margin: 0;
    color: $body-text-color;
}

a {
    color: #a0ada9;
}


* {
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nanum Gothic', sans-serif;
    color: $body-text-color;
}

.flash-img {
    border: 2px solid rgb(100, 100, 100);
    background: no-repeat;
    box-shadow: 10px 10px 5px rgb(66, 63, 63);
}

.nav .active a,
.nav a:hover,
body {
    color: #801b3c;
}
